.login-container {
    .header{
        height: 45px;
        text-align: right;
    }

    .title{
        font-size: 25px;
        padding: 20px 0;
        text-align: center;
    }

    .welcome{
        font-size: 25px;
        padding: 20px 0;
        text-align: center;
    }

    .content-form{
        display: flex;
        flex-direction: column;
        gap: 15px;

        button{
            width: 100%;
            border: none;
            border-radius: 4px;
            height: 40px;
            color: white;
            background: black;
            margin: 20px 0;
        }
    }
}